body {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: 'Merriweather', serif;


}

.startBox {
    width: 45%;
    height: 25%;
    border: 5px;
    border-color: gray;
    text-align: center;
    padding: 2px 0 15px 0;
    position: absolute;
    margin-left: 35%;
    margin-top: 15%;
    opacity: 1;
    z-index: 2;
    background-color: rgb(139, 241, 245);
    color: black;
    animation: myMove 3s infinite;
}

@keyframes myMove {
    50% {
        box-shadow: 10px 20px 30px blue;
    }
}

.startButton {
    height: 4em;
    width: 8em;
    box-shadow: 10px 5px 5px lightgray;
    border-radius: 12%;
}


h1 {
    margin-top: 2em;
    text-align: center;
    font-size: 2em;
}

h2 {
    font-size: 3em;
}

.questions {
    display: inline-flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 5px solid gray;
    padding: 10px;
    height: 10em;
    width: 65%;
    margin-left: 15%;
    /* margin-top: 1em; */

}

.choices {
    display: inline-flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 5px solid gray;
    padding: 10px;
    height: 26em;
    width: 65%;
    margin-left: 15%;
    margin-top: 1em;
}

.choice {
    display: inline-flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 5px solid gray;
    padding: 10px;
    height: 3em;
    width: 90%;
    margin-left: 4%;
    margin-top: 14px;
    font-size: 15px;
}

form {
    text-align: center;
    margin: 20px 0;
}

p {
    margin-left: 6%;
    font-size: 20px;

}

#container {
    opacity: 0;
    z-index: 1;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

/* .winner {
    opacity: 1;
    z-index: 3;
    font-size: 2em;
    position: absolute;
    background-color: rgb(25, 197, 25);

} */

.scoreCount {
    display: inline-flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 5px solid gray;
    padding: 10px;
    height: 2em;
    width: 15%;
    margin-left: 40%;
    margin-top: 2em;
    text-align: center;

}

.yourScore {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: #111;
    text-align: center;
    z-index: 7;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
    color: white;
    width: 100vw;
    height: 100vh;


}

.finScore {
    font-size: 3em;
}

.reset {
    margin-top: 2em;
    width: 11em;
    height: 3em;
    font-size: 2em;
    /* z-index: 7; */
}