body {
    width: 100vw;
    height: 100vh;
    position: relative;

}

.startBox {
    width: 25%;
    height: 15%;
    border: 5px;
    border-color: gray;
    background-color: greenyellow;
    text-align: center;
    padding: 2px 0 15px 0;
    position: absolute;
    margin-left: 35%;
    margin-top: 15%;
    opacity: 1;

}

h1 {
    margin-top: 2em;
    text-align: center;
}

.questions {
    display: inline-flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 5px solid gray;
    padding: 10px;
    height: 10em;
    width: 65%;
    margin-left: 15%;
    /* margin-top: 1em; */

}

.choices {
    display: inline-flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 5px solid gray;
    padding: 10px;
    height: 26em;
    width: 65%;
    margin-left: 15%;
    margin-top: 1em;
}

.choice {
    display: inline-flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 5px solid gray;
    padding: 10px;
    height: 3em;
    width: 90%;
    margin-left: 4%;
    margin-top: 14px;
    font-size: 18px;
}

form {
    text-align: center;
    margin: 20px 0;
}

p {
    margin-left: 6%;
    font-size: 2em;

}

#container {
    opacity: 1;
}